<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
    <title>About Me</title>
</head>

<body>
    {{>navbar}}
    <center><img src="img/404.png" width="65%" alt="Error 404"></center>
    {{>footer}}
</body>

</html>